{% extends bundle ~ "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% if datatable %}
        {% stylesheets 'bundles/tisseocore/css/jquery.dataTables.min.css'
                       filter='cssrewrite' output='css/datatables.css' %}
            <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
        {% endstylesheets %}
    {% endif %}
    {% if smoothness %}
        {% stylesheets 'components/jquery-ui/themes/smoothness/jquery-ui.css'
                       filter='cssrewrite' output='css/smoothness.css' %}
            <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
        {% endstylesheets %}
    {% endif %}
    {% if leaflet %}
        {% stylesheets 'components/leaflet/css/leaflet.css'
                       filter='cssrewrite' output='css/leaflet.css' %}
            <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
        {% endstylesheets %}
    {% endif %}
    {% if datetimepicker %}
        {% stylesheets 'bundles/tisseocore/css/bootstrap-datetimepicker.min.css'
                       filter='cssrewrite' output='css/leaflet.css' %}
            <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
        {% endstylesheets %}
    {% endif %}
{% endblock %}

{% block container %}
    <div class="row">
        {% block main_content %}
            <div class="col-md-12" role="main">
                {% block advancedConfirmation %}{% endblock %}
                <h1>{% block list_title %}{{ pageTitle|trans }}{% endblock %}</h1>
                {% block header_content %}{% endblock %}
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {% if leaflet %}
        <script>
            var stop_icon_pin_url = "{{ asset('bundles/tisseocore/images/stop-icon.png') }}";
            var stop_icon_circle_url = "{{ asset('bundles/tisseocore/images/stop-icon-circle.png') }}";
        </script>
    {% endif %}
{% endblock %}
