{% extends "TisseoCoreBundle::container.html.twig" %}
{% set datatable = true %}

{% block content %}
<table class="table {% if not empty %}datatable {% endif %}{% block table_classes -%}table-hover{% endblock %}">
    <thead>
    {% block table_head_tr %}{% endblock %}
    <tr>
        {% block table_head %}{% endblock %}
    </tr>
    </thead>
    <tbody>
    {% block table_body %}{% endblock %}
    </tbody>
</table>
{% block list_pagination %}{% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if not empty %}
        {% if not paginate %}
            {% set paginate = 'false' %}
        {% endif %}
        {% if not margin %}
            {% set margin = '0' %}
        {% endif %}
        {% if not processing %}
            {% set processing = 'false' %}
        {% endif %}
        {% if not serverSide %}
            {% set serverSide = 'false' %}
        {% endif %}
        {% if not iDisplayLength %}
            {% set iDisplayLength = 100 %}
        {% endif %}
        {% if not caseInsensitive %}
            {% set caseInsensitive = 'true' %}
        {% endif %}
        <script>
            require(['core/datatables'], function () {
                datatable({{ paginate }},
                        {{ margin }},
                        {{ iDisplayLength }},
                        {{ processing }},
                        {{ serverSide }},
                        {{ caseInsensitive }}
                        {% if ajax is defined %}
                        , '{{ ajax }}'
                        {% endif %}
                );
            });
            {% if tableCheckboxes %}
                require(['core/dt-checkboxes'], function () {
                    $('.datatable').add_checkboxes();
                });
            {% endif %}


        </script>
    {% endif %}
{% endblock %}
