{% macro line_number(object, type, size) %}
    {% if type == 'lineVersion' %}
        {% if object.line.number %}
            {% if size == 'small' %}
        <div class="line-number line-small" style="color:{{ object.fgColor.html }}; background-color:{{ object.bgColor.html }}; font-family:sans-serif; font-weight: bold;">
            {% elseif size == 'big' %}
        <div class="line-number line-big" style="color:{{ object.fgColor.html }}; background-color:{{ object.bgColor.html }}; font-family:sans-serif; font-weight: bold;">
            {% elseif size == 'free' %}
        <div class="line-number line-free" style="color:{{ object.fgColor.html }}; background-color:{{ object.bgColor.html }}; font-family:sans-serif; font-weight: bold;">
            {% endif %}
            <span>{{ object.line.number }}</span>
        </div>
        {% endif %}
    {% elseif type == 'line' %}
        {% if object.LastLineVersion %}
            {% set lineVersion = object.LastLineVersion %}
            <div class="line-number line-{{ size }}" style="color:{{ lineVersion.fgColor.html }}; background-color:{{ lineVersion.bgColor.html }}; font-family:sans-serif; font-weight: bold;">
        {% else %}
        <div class="line-number line-{{ size }}" style="font-family:sans-serif; font-weight: bold;">
        {% endif %}
                <span>{{ object.number }}</span>
            </div>
    {% elseif type == 'api' %}
        {% if object.shortName %}
            {% if size == 'small' %}
                <div class="line-number line-small" style="color:{{ object.fgXmlColor }}; background-color:{{ object.bgXmlColor }}; font-family:sans-serif; font-weight: bold;">
            {% elseif size == 'big' %}
                <div class="line-number line-big" style="color:{{ object.fgXmlColor }}; background-color:{{ object.bgXmlColor }}; font-family:sans-serif; font-weight: bold;">
            {% elseif size == 'free' %}
                <div class="line-number line-free" style="color:{{ object.fgXmlColor }}; background-color:{{ object.bgXmlColor }}; font-family:sans-serif; font-weight: bold;">
            {% endif %}
            <span>{{ object.shortName }}</span>
        </div>
        {% endif %}
    {% elseif type == 'tad' %}
        {% if object.lineCode %}
            {% if size == 'small' %}
                <div class="line-number line-small" style="color:{{ object.fgColor }}; background-color:{{ object.bgColor }}; font-family:sans-serif; font-weight: bold;">
            {% elseif size == 'big' %}
                <div class="line-number line-big" style="color:{{ object.fgColor }}; background-color:{{ object.bgColor }}; font-family:sans-serif; font-weight: bold;">
            {% elseif size == 'free' %}
                <div class="line-number line-free" style="color:{{ object.fgColor }}; background-color:{{ object.bgColor }}; font-family:sans-serif; font-weight: bold;">
            {% endif %}
            <span>{{ object.lineCode }}</span>
        </div>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro line_version_startDate(lineVersion, date) %}
    {{ lineVersion.ProcessStatus(date) }}

    {% if lineVersion.status == "new" %}
        <span class="label label-info">{{ lineVersion.startDate|date('d/m/Y') }}</span>
    {% elseif lineVersion.status == "published" %}
        <span class="label label-success">{{ lineVersion.startDate|date('d/m/Y') }}</span>
    {% endif %}
{% endmacro %}

{% macro pattern(pattern) %}
    <span>
        {% for day in pattern %}
        <span class="{% if day %}green-fg-day{% else %}red-fg-day{% endif %}">{{ ('tisseo.global.short_days.'~loop.index)|trans }}</span>
        {% endfor %}
    </span>
{% endmacro %}

{% macro line_api_number(line) %}
    <span class="api-line"
          style="color:{{ line.fgXmlColor}}; background-color:{{ line.bgXmlColor}};">
        {{ line.shortName }}
    </span>
{% endmacro %}

{% macro checkbox(boolean) %}
    <input type="checkbox" onclick="return false;" {% if boolean %}checked{% endif %}>
{% endmacro %}
